@model ZKEACMS.Rule.Rule
@{
    Script.Reqiured("validate").AtFoot();
    Style.Reqiured("rule").AtHead();
}

<div class="panel panel-default">
    <div class="panel-heading">
        @L("New")
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="toolBar">
                @if (Authorizer.Authorize(PermissionKeys.ManagePage))
                {
                    <input type="submit" class="btn btn-primary" value="@L("Save")" data-value="@ActionType.Create" />
                }
                <input type="button" class="btn btn-default cancel" value="@L("Cancel")" />
            </div>
        }
    </div>
</div>