@using ZKEACMS.Widget
@model IEnumerable<WidgetBasePart>
@{ 
    string returnUrl = Url.Action("Index", "Rule");
}
<div class="panel panel-default">
    <div class="panel-heading">
        @L("Display Contents")
    </div>
    <div class="panel-body">
        <ul id="rule-widgets" class="fullRowList">
            @foreach (var widget in Model.OrderBy(m => m.Position))
            {
                <li title="@(widget.Status == (int)WidgetStatus.Deleted ? L("Deleted"):widget.WidgetName)" id="widget_@widget.ID" class="widget @(widget.Status == (int)WidgetStatus.Deleted? "disabled":"")" data-widgetid="@widget.ID">
                    @if (widget.LayoutId.IsNotNullAndWhiteSpace())
                    {
                        <span class="badge">@L("Layout")</span>
                    }
                    @if (Authorizer.Authorize(PermissionKeys.ManagePage))
                    {
                        <a href="@Url.Action("Edit", "Widget", new { widget.ID, ReturnUrl = returnUrl+"#rule-"+widget.RuleID})">
                            <img class="icon" src="~/images/icons/edit.svg" />
                        </a>
                        <a href="javascript:void(0)" class="delete" data-widgetid="@widget.ID">
                            <img class="icon" src="~/images/icons/delete.svg" />
                        </a>
                    }
                    @if (widget.Status == (int)WidgetStatus.Hidden)
                    {
                        <a style="cursor:default"><img class="icon" src="~/images/icons/invisible.svg" title="@L("Invisible")" /></a>
                    }
                    @widget.WidgetName
                </li>
            }
        </ul>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary btn-sm" href="@Url.Action("SelectWidget", "WidgetTemplate", new QueryContext{ RuleID=ViewBag.RuleID, ReturnUrl = returnUrl+"#rule-"+ViewBag.RuleID})">
            @L("Add Content")
        </a>
    </div>
</div>