@model IEnumerable<LayoutEntity>
@{
    Style.Reqiured("Layout").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        布局
    </div>
    <div class="panel-body">
        <ul class="layoutList">
            @foreach (LayoutEntity item in Model)
            {
                <li class="thumbnail">
                    <a href="@(Authorizer.Authorize(PermissionKeys.ManageLayout) ? Url.Action("Edit", "Layout", new {item.ID}) : "#")">
                        @if (item.ImageUrl.IsNullOrEmpty())
                        {
                            <img src="@Url.Content(LayoutEntity.DefaultThumbnial)" alt="@item.LayoutName" />
                        }
                        else
                        {
                            <img src="@Url.Content(item.ImageUrl)" alt="@item.LayoutName" />
                        }
                    </a>
                    <div class="caption">
                        <span>@item.LayoutName</span>
                        @if (Authorizer.Authorize(PermissionKeys.ManageLayout))
                        {
                            <a href="@Url.Action("Design", new {item.ID})" class="pull-right badge">编辑</a>
                        }
                    </div>
                </li>
            }
        </ul>

    </div>
    @if (Authorizer.Authorize(PermissionKeys.ManageLayout))
    {
        <div class="panel-footer">
            <a href="@Url.Action("Create")" class="btn btn-link btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                添加布局
            </a>
            <a href="http://www.zkea.net/zkeacms/document/layout" class="btn btn-link btn-xs" target="_blank">
                <i class="glyphicon glyphicon-question-sign"></i>
                说明文档
            </a>
        </div>
    }

</div>
