@model ZKEACMS.FormGenerator.Models.Form
@{

}

<div class="container-fluid" ng-app="fild" ng-controller="formgenerator">
    <div class="row" ng-app="fieldSetting" ng-controller="setting" ng-init="saveUrl='@Url.Action("Edit")'">
        @Html.Partial("Setting")
    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        angular.module("fild", ["fieldSetting"]).controller("formgenerator", function ($scope) {
            $scope.ID = '@Model.ID';
            $scope.Title = '@Html.Raw(Model.Title)';
            $scope.Description = '@Model.Description';
            $scope.Fields = @Html.Raw(Model.FieldsData);
        });
    </script>
}