@model ZKEACMS.Shop.Models.Order
@{
    Script.Reqiured("validate").AtFoot();
    Script.Reqiured("tinymce").AtFoot();
}

<div class="panel panel-default">
    <div class="panel-heading">
        修改
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="toolBar clearfix">
                <div class="pull-left">
                    @if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.ManageOrder))
                    {
                        <input type="submit" class="btn btn-primary" value="保存" data-value="@ActionType.Update" />
                    }
                    <input type="button" class="btn btn-default cancel" value="取消" />
                </div>
                <div class="pull-right">
                    @if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.ViewOrderPayment) && Model.PaymentID.IsNotNullAndWhiteSpace())
                    {
                        <a href="javascript:void(0)" class="btn btn-primary payment-info">支付信息</a>
                    }
                    @if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.RefundOrder) && Model.PaymentID.IsNotNullAndWhiteSpace() && Model.RefundID.IsNullOrEmpty())
                    {
                        <a href="javascript:void(0)" class="btn btn-primary refund">退款</a>
                    }
                    @if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.ViewOrderRefund) && Model.RefundID.IsNotNullAndWhiteSpace())
                    {
                        <a href="javascript:void(0)" class="btn btn-primary refund-info">退款信息</a>
                    }
                    @*@if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.CloseOrder) && Model.OrderStatus == (int)ZKEACMS.Shop.OrderStatus.UnPaid)
                    {
                        <a href="javascript:void(0)" class="btn btn-danger close-order">关闭订单</a>
                    }*@
                </div>
            </div>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">信息</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $("#OrderStatus").prop("disabled", true);
        $(document).on("click", ".payment-info", function () {
            Easy.Block();
            $.post("@Url.Action("PaymentInfo", new { id=Model.ID })", function (html) {
                Easy.UnBlock();
                $("#myModalLabel").text("支付信息")
                $(".modal-body").html(html);
                $(".modal").modal();
            }, "html");
        });
        $(document).on("click", ".refund", function () {
            if (!$("#Refund").val()) {
                Easy.ShowMessageBox("提示", "请输入退款金额");
                $("#Refund").focus();
                return;
            }
            if (!$("#RefundReason").val()) {
                Easy.ShowMessageBox("提示", "请输入退款原因");
                $("#RefundReason").focus();
                return;
            }
            if ($("form").validate().element("#Refund")) {
                if (Number($("#Refund").val()) > Number($("#Total").val())) {
                    return;
                }
                Easy.ShowMessageBox("提示", "确定要退款吗？", function () {
                    Easy.Block();
                    $.post("@Url.Action("Refund", new { id = Model.ID })", { amount: $("#Refund").val(), reason: $("#RefundReason").val() }, function (data) {
                        if (data.hasViolation) {
                            Easy.ShowMessageBox("提示", data.errorMessage);
                        } else {
                            Easy.ShowMessageBox("提示", "退款成功！", function () { window.location.reload(true); },false);
                        }
                    });
                 }, true);
            }
        });
        $(document).on("click", ".refund-info", function () {
            Easy.Block();
            $.post("@Url.Action("RefundInfo", new { id=Model.ID })", function (html) {
                Easy.UnBlock();
                $("#myModalLabel").text("退款信息")
                $(".modal-body").html(html);
                $(".modal").modal();
            }, "html");
        });
        $(document).on("click", ".close-order", function () {
            Easy.Block();
            $.post("@Url.Action("CloseOrder", new { id=Model.ID })", function (data) {
                if (data.hasViolation) {
                    Easy.ShowMessageBox("提示", data.errorMessage);
                } else {
                    Easy.ShowMessageBox("提示", "订单已关闭！", function () { window.location.reload(true); }, false);
                }
            });
        });
        $("form").submit(function () { 
            $("#OrderStatus").prop("disabled", false);
        });
    </script>

}