@model ZKEACMS.Shop.Models.Order
@{
    Script.Reqiured("validate").AtFoot();
    Script.Reqiured("tinymce").AtFoot();
}

<div class="panel panel-default">
    <div class="panel-heading">
        @L("Edit")
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="toolBar">                
                @if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.ManageOrder))
                {
                    <input type="submit" class="btn btn-primary" value="@L("Save")" data-value="@ActionType.Update" />
                }
                @if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.ViewOrderPayment) && Model.PaymentID.IsNotNullAndWhiteSpace())
                {
                    <a href="javascript:void(0)" class="btn btn-primary payment-info">@L("Payment Information")</a>
                }
                @if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.RefundOrder) && Model.PaymentID.IsNotNullAndWhiteSpace() && Model.RefundID.IsNullOrEmpty())
                {
                    <a href="javascript:void(0)" class="btn btn-primary refund">@L("Refund")</a>
                }
                @if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.ViewOrderRefund) && Model.RefundID.IsNotNullAndWhiteSpace())
                {
                    <a href="javascript:void(0)" class="btn btn-primary refund-info">@L("Refund Information")</a>
                }
                @*@if (Authorizer.Authorize(ZKEACMS.Shop.PermissionKeys.CloseOrder) && Model.OrderStatus == (int)ZKEACMS.Shop.OrderStatus.UnPaid)
                {
                    <a href="javascript:void(0)" class="btn btn-danger close-order">@L("Close Order")</a>
                }*@
                <input type="button" class="btn btn-default cancel" value="@L("Cancel")" />                
            </div>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@L("Information")</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
            </div>
        </div>
    </div>
</div>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $("#OrderStatus").prop("disabled", true);
        $(document).on("click", ".payment-info", function () {
            Easy.Block();
            $.post("@Url.Action("PaymentInfo", new { id=Model.ID })", function (html) {
                Easy.UnBlock();
                $("#myModalLabel").text("@L("Payment Information")")
                $(".modal-body").html(html);
                $(".modal").modal();
            }, "html");
        });
        $(document).on("click", ".refund", function () {
            if (!$("#Refund").val()) {
                Easy.ShowMessageBox("@L("Notice")", "@L("Please enter the refund amount")");
                $("#Refund").focus();
                return;
            }
            if (!$("#RefundReason").val()) {
                Easy.ShowMessageBox("@L("Notice")", "@L("Please enter the refund reason")");
                $("#RefundReason").focus();
                return;
            }
            if ($("form").validate().element("#Refund")) {
                if (Number($("#Refund").val()) > Number($("#Total").val())) {
                    return;
                }
                Easy.ShowMessageBox("@L("Notice")", "@L("Do you want to refund?")", function () {
                    Easy.Block();
                    $.post("@Url.Action("Refund", new { id = Model.ID })", { amount: $("#Refund").val(), reason: $("#RefundReason").val() }, function (data) {
                        if (data.hasViolation) {
                            Easy.ShowMessageBox("@L("Notice")", data.errorMessage);
                        } else {
                            Easy.ShowMessageBox("@L("Notice")", "@L("Refund successfull!")", function () { window.location.reload(true); },false);
                        }
                    });
                 }, true);
            }
        });
        $(document).on("click", ".refund-info", function () {
            Easy.Block();
            $.post("@Url.Action("RefundInfo", new { id=Model.ID })", function (html) {
                Easy.UnBlock();
                $("#myModalLabel").text("@L("Refund Information")")
                $(".modal-body").html(html);
                $(".modal").modal();
            }, "html");
        });
        $(document).on("click", ".close-order", function () {
            Easy.Block();
            $.post("@Url.Action("CloseOrder", new { id=Model.ID })", function (data) {
                if (data.hasViolation) {
                    Easy.ShowMessageBox("@L("Notice")", data.errorMessage);
                } else {
                    Easy.ShowMessageBox("@L("Notice")", "@L("The order is closed!")", function () { window.location.reload(true); }, false);
                }
            });
        });
        $("form").submit(function () { 
            $("#OrderStatus").prop("disabled", false);
        });
    </script>

}