@model ZKEACMS.Shop.Models.PaymentInfo

<table class="table">
    <thead>
        <tr>
            <th>@L("账号")</th>
            <th>@L("状态")</th>
            <th>@L("金额")</th>
            <th>@L("日期")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Model.Account</th>
            <td>@Model.TradeStatus</td>
            <td>@Model.TotalAmount</td>
            <td>@Model.PayDate.ToString("g")</td>
        </tr>
    </tbody>
</table>