@model ZKEACMS.Shop.Models.PaymentInfo

<table class="table">
    <thead>
        <tr>
            <th>@L("Account")</th>
            <th>@L("Status")</th>
            <th>@L("Amount")</th>
            <th>@L("Date")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Model.Account</th>
            <td>@Model.TradeStatus</td>
            <td>@Model.TotalAmount</td>
            <td>@Model.PayDate.ToString("g")</td>
        </tr>
    </tbody>
</table>