@{
    ViewBag.Title = ViewContext.HttpContext.Response.StatusCode;
    Layout = Layouts.Generic;
}
<div style="text-align: center; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img src="~/images/error.png" />
    <h1 style="font-size: 6em;font-family: fantasy;" class="text-danger">@ViewContext.HttpContext.Response.StatusCode</h1>

    <br />
    <p>
        <a href="~/" class="btn btn-primary">
            <i class="glyphicon glyphicon-arrow-left"></i>
            @L("Home Page")
        </a>
    </p>
    <br />
    <br />
    <p>
        <a href="http://www.zkea.net" target="_blank">@(this.WorkContext().SiteInformation.SiteName)</a>. @L("All Rights Reserved"),
        @L("Powered by") <a href="http://www.zkea.net/zkeacms/zkeacmscore" target="_blank">@L("ZKEACMS")</a>
        <br />Copyright (c) @DateTime.Now.Year <a href="http://www.zkea.net/licenses" target="_blank">@L("License")</a>
    </p>
</div>
