@model ZKEACMS.Article.Models.ArticleType
@{
    Script.Reqiured("validate").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        @L("Article Category")
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="toolBar">
                @if (Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.ManageArticleType))
                {
                    <input type="submit" class="btn btn-primary" value="@L("Save")" data-value="@ActionType.Update" />
                    <input type="submit" class="btn btn-danger delete" value="@L("Delete")" data-value="@ActionType.Delete" />
                }
                <input type="button" class="btn btn-default cancel" value="@L("Cancel")" />
            </div>
        }

    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(".delete").click(function () {
            return confirm("@L("Do you want to delete?")");
        });
    </script>
}