@using ZKEACMS.Article
@using Easy.ViewPort.jsTree
@using ZKEACMS.Article.Models
@{
    Script.Reqiured("jsTree").AtFoot();
    Style.Reqiured("jsTree").AtHead();
    var articleTree = Html.Tree<ArticleType>().Source("GetArticleTypeTree", "ArticleType", new {module = "admin"});
    if (Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.ManageArticleType))
    {
        articleTree
        .AddPlugin(Plugins.ContextMenu)
            .AddContextMenuItem(new ContextmenuItem {Label = L("新建").Text, Action = "Create", Icon = "glyphicon glyphicon-plus"})
            .AddContextMenuItem(new ContextmenuItem {Label = L("编辑").Text, Action = "Edit", Icon = "glyphicon glyphicon-edit"});
    }
}
<div class="panel  panel-default">
    <div class="panel-heading">
        @L("文章类别")
    </div>
    <div class="panel-body">
        @articleTree
    </div>
    @if (Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.ManageArticleType))
    {
        <div class="panel-footer">
            <a href="@Url.Action("Create")" class="btn btn-link btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                @L("添加类别")
            </a>
        </div>
    }
</div>


<script type="text/javascript">
    function Create(node) {
        var parent = node.reference.attr("id");
        window.location.href = '@Url.Action("Create", "ArticleType", new { module = "admin" })' + '?ParentID=' + parent;
    }
    function Edit(node) {
        var id = node.reference.attr("id");
        window.location.href = '@Url.Action("Edit", "ArticleType", new { module = "admin"})' + '/' + id;
    }


</script>
