@model ZKEACMS.Notification.ViewModels.ResetPasswordViewModel
@inject Easy.ILocalize localize
<!DOCTYPE html>
<html>
<head>
    <title>@localize.Get("Reset password")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
    <h3>
        @localize.Get("Reset password")
    </h3>
    <p>
        @localize.Get("Click the link to reset your passwod")
    </p>
    <p>
        <a href="@Model.Link">
            @Model.Link
        </a>
    </p>
    <h4>
        ZKEASOFT
    </h4>
    <p>
        <a href="http://www.zkea.net">
            http://www.zkea.net
        </a>
    </p>
    <p>
        <em>@DateTime.Now.ToString("g")</em>
    </p>
</body>
</html>