@model ZKEACMS.Article.Models.ArticleEntity
@{
    Script.Reqiured("validate").AtFoot();
    Script.Reqiured("tinymce").AtFoot();
}

<div class="panel panel-default">
    <div class="panel-heading">
        @L("New")
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="toolBar">
                @if (Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.ManageArticle))
                {
                    <input type="submit" class="btn btn-primary " value="@L("Save")" data-value="@ActionType.Create" />
                }                
                @if (Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.PublishArticle))
                {
                    <input type="submit" class="btn btn-info publish" value="@L("Publish")" data-value="@ActionType.Publish" />
                }                
                <input type="button" class="btn btn-default cancel" value="@L("Cancel")" />
            </div>
        }
    </div>
</div>