@model ZKEACMS.Article.Models.ArticleEntity
@{
    Script.Reqiured("validate").AtFoot();
    Script.Reqiured("tinymce").AtFoot();
}

<div class="panel panel-default">
    <div class="panel-heading">
        @L("修改")
        <span class="badge pull-right">
            @if (!Model.IsPublish)
            {
                @L("未发布")
            }
            else
            {
                @L("已发布")
            }
        </span>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="toolBar">
                @if (Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.ManageArticle))
                {
                    <input type="submit" class="btn btn-primary" value="@L("保存")" data-value="@ActionType.Update" />
                }
                @if (Authorizer.Authorize(ZKEACMS.Article.PermissionKeys.PublishArticle))
                {
                    <input type="submit" class="btn btn-info publish" value="@L("发布")" data-value="@ActionType.Publish" />
                }
                <input type="button" class="btn btn-default cancel" value="@L("取消")" />
            </div>
        }
    </div>
</div>