@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment hostingEnvironment
@model LayoutEntity
@{
    if (Model == null)
    {
        return;
    }
    Style.Reqiured("Easy").AtFoot();
    CMSApplicationContext appContext = ApplicationContext as CMSApplicationContext;
    foreach (var item in appContext.Styles)
    {
        Style.Reqiured(item).AtFoot();
    }
    foreach (var item in appContext.Scripts)
    {
        Script.Reqiured(item).AtFoot();
    }
}
<!-- http://www.zkea.net/ Copyright 2017 ZKEASOFT http://www.zkea.net/licenses -->
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="zh"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="zh"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="zh"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="zh">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Model.Page.Title</title>
    <meta name="keywords" content="@Model.Page.MetaKeyWorlds" />
    <meta name="description" content="@Model.Page.MetaDescription" />
    <meta name="author" content="ZKEASOFT" />
    <meta name="about" content="@ZKEACMS.Version.CurrentVersion" />
    <meta name="website" content="http://www.zkea.net" />

    <link href="@Url.PathContent(Model.Page.Favicon)" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0" />
    @if (Model.CurrentTheme != null)
    {
        if (hostingEnvironment.IsDevelopment())
        {
            <link type="text/css" async rel="stylesheet" href="@Url.Content(Model.CurrentTheme.UrlDebugger)" />
        }
        else
        {
            <link type="text/css" async rel="stylesheet" href="@Url.Content(Model.CurrentTheme.Url)" />
        }
    }
    @StyleAtHead()
    @ScriptAtHead()
    @foreach (var item in appContext.HeaderPart)
    {
        @item
    }
</head>
<body class="front">
    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated && (ApplicationContext as CMSApplicationContext).PageMode != ZKEACMS.Filter.PageViewMode.ViewOnly)
    {
        <div class="preview-toolbar hover-text">
            <div class="btn-group">
                <a class="btn btn-primary sort-handle">
                    <i class="glyphicon glyphicon-move"></i>
                </a>
                @if (!Model.Page.IsPublishedPage)
                {
                    <a class="btn btn-primary" href="@Url.Action("Design", "Page", new { Model.Page.ID })">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>@L("编辑")</span>
                    </a>
                    @if (Model.Page.PublishDate.HasValue)
                    {
                        <a class="btn btn-primary" href="@Url.Content(Model.Page.Url)">
                            <i class="glyphicon glyphicon-eye-open"></i>
                            <span>@L("预览发布版本")</span>
                        </a>
                    }
                    <a class="btn btn-primary" href="@Url.Action("Index", "Page",new { PageId=Model.Page.ID })">
                        <i class="glyphicon glyphicon-th-list"></i>
                        <span>@L("页面概览")</span>
                    </a>
                    <a class="btn btn-primary" href="@Url.Action("PublishPage", "Page", new { Model.Page.ID, ReturnUrl = Model.Page.Url})">
                        <i class="glyphicon glyphicon-open"></i>
                        <span>@L("发布")</span>
                    </a>
                    if (Model.CurrentTheme != null && Model.CurrentTheme.IsPreView)
                    {
                        <a class="btn btn-primary" href="@Url.Action("CancelPreView", "Theme")">
                            <i class="glyphicon glyphicon-transfer"></i>
                            <span>
                                @L("退出")
                                @Model.CurrentTheme.Title
                                @L("主题")
                            </span>
                        </a>
                    }
                }
                else if (Model.PreViewPage != null)
                {
                    <a class="btn btn-primary" href="@Url.Action("Design", "Page", new { Model.PreViewPage.ID})">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>@L("编辑")</span>
                    </a>
                    <a class="btn btn-primary" href="@Url.Action("RedirectView", "Page", new { ID = Model.PreViewPage.ID})">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <span>@L("预览编辑版本")</span>
                    </a>
                    if (Model.CurrentTheme != null && Model.CurrentTheme.IsPreView)
                    {
                        <a class="btn btn-primary" href="@Url.Action("CancelPreView", "Theme")">
                            <i class="glyphicon glyphicon-transfer"></i>
                            <span>
                                @L("退出")
                                @Model.CurrentTheme.Title
                                @L("主题")
                            </span>
                        </a>
                    }
                    <a class="btn btn-primary" href="@Url.Action("Index", "Page",new { PageId = Model.PreViewPage.ID })">
                        <i class="glyphicon glyphicon-th-list"></i>
                        <span>@L("页面概览")</span>
                    </a>
                    <a class="btn btn-primary" href="@Url.Action("Logout", "Account", new { returnurl = ViewContext.HttpContext.Request.Path.Value })">
                        <i class="glyphicon glyphicon-off"></i>
                        <span>@L("退出")</span>
                    </a>
                }
            </div>
        </div>
        using (Script.AtFoot())
        {
            <script type="text/javascript">
                var toolBar = $(".preview-toolbar");
                $(".sort-handle", toolBar).DragElement(toolBar);
            </script>
        }
    }

    <div>
        @RenderBody()
    </div>

    @StyleAtFoot()
    @ScriptAtFoot()
    @if (!Model.Style.IsNullOrEmpty())
    {
        <link href="@Url.Content(Model.Style)" rel="stylesheet" />
    }
    @if (!Model.Page.Style.IsNullOrEmpty())
    {
        <link href="@Url.Content(Model.Page.Style)" rel="stylesheet" />
    }
    @if (!Model.Script.IsNullOrEmpty())
    {
        <script type="text/javascript" src="@Url.Content(Model.Script)"></script>
    }
    @if (!Model.Page.Script.IsNullOrEmpty())
    {
        <script type="text/javascript" src="@Url.Content(Model.Page.Script)"></script>
    }    
    @foreach (var item in appContext.FooterPart)
    {
        @item
    }
</body>

</html>