@model DesignWidgetViewModel
@{
    var toggleClasssAction = Url.Action("ToggleClass", "Widget", new { module = "admin", Model.Widget.ID });
}
<div style="@Model.Widget.CustomStyle">
    <div class="widget widget-design @Model.Widget.CustomClass"
         id="widget_@Model.Widget.ID"
         data-widgetid="@Model.Widget.ID">
        <div class="zoneToolbar @(Model.Widget.LayoutID.IsNullOrEmpty() ? "blue" : "green")">
            <div class="tools">
                @if (Model.Widget.LayoutID.IsNotNullAndWhiteSpace())
                {
                    <span class="badge">布局</span>
                }
                <i class="glyphicon glyphicon-move sort-handle" title="拖动">
                </i>
                <a href="@Url.Action("Edit", "Widget", new {module = "admin", Model.Widget.ID, ReturnUrl = Url.Action("Design", "Page", new {ID = Model.PageID})})"
                   class="glyphicon glyphicon-edit"
                   title="编辑"></a>
                <a href="javascript:void(0)"
                   data-action="@Url.Action("Copy", "Widget", new { widgetId = Model.Widget.ID })"
                   data-class="container"
                   title="复制"
                   class="glyphicon glyphicon-copy copy-widget"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="container"
                   title="切换容器"
                   class="glyphicon glyphicon-transfer transfer-container toggle-widget-class"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="full"
                   title="减小外边距"
                   class="glyphicon glyphicon-fullscreen toggle-widget-class"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="full"
                   title="增加边距"
                   class="glyphicon glyphicon-th-large toggle-widget-class"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="align-center"
                   title="文字居中"
                   class="glyphicon glyphicon-align-center toggle-widget-class"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="align-right"
                   title="文字右对齐"
                   class="glyphicon glyphicon-align-right toggle-widget-class"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="border"
                   title="外边框"
                   class="glyphicon glyphicon-unchecked toggle-widget-class"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="image-border"
                   title="图片加边框"
                   class="glyphicon glyphicon-picture toggle-widget-class"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="image-circle"
                   title="图片圆角"
                   class="glyphicon glyphicon-adjust toggle-widget-class"></a>
                <a href="javascript:void(0)"
                   data-action="@toggleClasssAction"
                   data-class="box-shadow"
                   title="阴影"
                   class="glyphicon glyphicon-tags toggle-widget-class"></a>
                <a href="javascript:void(0)" data-action="@Url.Action("SaveCustomStyle", "Widget", new {module = "admin", Model.Widget.ID})" 
                   title="自定义样式(设置背景图片等)" class="glyphicon glyphicon-erase custom-style-editor"></a>
                <a href="javascript:void(0)" class="delete glyphicon glyphicon-trash" title="删除"
                   data-url="@Url.Action("DeleteWidget", "Widget", new {module = "admin"})"
                   data-id="@Model.Widget.ID"></a>
                <span class="text-muted">|</span>
                <span>@Model.Widget.WidgetName</span>
                
            </div>
        </div>
        @if (Model.Widget.Title.IsNotNullAndWhiteSpace())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Model.Widget.Title
                </div>
                <div class="panel-body">
                    @Html.DisPlayWidget(Model)
                </div>
            </div>
        }
        else
        {
            @Html.DisPlayWidget(Model)
        }
    </div>
</div>