@{
    ViewBag.Title = L("Page Not Found");
    Layout = Layouts.NormalDefault;
}
<div class="page-header" style="text-align: center;">
    <br /><br />
    <h1 style="font-size: 6em" class="text-danger">404</h1>
</div>
<div style="text-align:center">
    <h2>@L("Page Not Found")</h2>    
    <p>
        <a href="~/" class="btn btn-primary">@L("Home Page")</a>
        <a href="@Url.Action("Index","Page")" class="btn btn-primary">@L("Manage Pages")</a>
    </p>
    <br />
    <hr />
    <div>
        <p>
            <a href="http://www.zkea.net" target="_blank" title="@L("深圳市纸壳软件科技有限公司")">@L("ZKEASOFT")</a>. @L("All Rights Reserved"),
            @L("Powered by") <a href="http://www.zkea.net/zkeacms/zkeacmscore" target="_blank">@L("ZKEACMS")</a>
            <br />Copyright (c) 2016-@DateTime.Now.Year <a href="http://www.zkea.net/licenses" target="_blank">@L("License")</a>
        </p>
    </div>
</div>

