@model LayoutEntity
@{
    string url = "~/";
    if (Model.Page != null)
    {
        url = Model.Page.Url;
    }
}

<button type="button" class="zk-btn zk-btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only"></span>
</button>
<ul class="zk-dropdown-menu pull-right">
    <li>
        <a href="@Url.Action("Index", "Dashboard")">
            <i class="glyphicon glyphicon-dashboard"></i>
            @L("仪表盘")
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Layout")">
            <i class="glyphicon glyphicon-th-list"></i>
            @L("布局列表")
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Page")">
            <i class="glyphicon glyphicon-eye-open"></i>
            @L("页面管理")
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Navigation")">
            <i class="glyphicon glyphicon-retweet"></i>
            @L("导航管理")
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Theme")">
            <i class="glyphicon glyphicon-blackboard"></i>
            @L("主题管理")
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Media")">
            <i class="glyphicon glyphicon glyphicon-picture"></i>
            @L("媒体库")
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Carousel")">
            <i class="glyphicon glyphicon-hd-video"></i>
            @L("焦点图")
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Article")">
            <i class="glyphicon glyphicon-font"></i>
            @L("文章列表")
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Product")">
            <i class="glyphicon glyphicon-list-alt"></i>
            @L("产品列表")
        </a>
    </li>
    <li>
        <a target="_blank" href="http://www.zkea.net/zkeacms/templates">
            <i class="glyphicon glyphicon-save-file"></i>
            @L("下载板块")
        </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
        <a href="@Url.Action("Logout", "Account", new { returnurl = url })" target="_self" title="@L("退出登录")">
            <i class="glyphicon glyphicon-off"></i>
            @L("退出登录")
        </a>
    </li>
</ul>