<div class="page-header text-center">
    <h1 style="font-size: 6em" class="text-danger">@L("ERROR")</h1>
</div>
<div class="text-center">
    <h2>@L("组件不能正常显示")</h2>
    <br>
    <br>
    <p class="text-info">@L("该组件的显示可能需要一些<strong>额外的参数</strong>，或者组件内部发生了错误")</p>
    <br>
    <p class="text-muted">@L("请与管理员联系，或者您可以访问其它页面")</p>
    <br>
    <p>
        <a href="/" class="btn btn-default">@L("访问首页")</a>
    </p>
</div>