@model ZKEACMS.FormGenerator.Models.FormField
@{ 
    string maxLength = "15";
    Model.Attributes.TryAdd("data-val-length", L("The max length of {0} is {1}").Text.FormatWith(Model.DisplayName, maxLength));
    Model.Attributes.TryAdd("data-val-length-max", maxLength);
    Model.Attributes.TryAdd("data-val-phonecn", L("Please input a phone number").Text);
}
<div class="form-group size-@Model.Size">
    @if (Model.DisplayName.IsNotNullAndWhiteSpace())
    {
        <label class="control-label" for="@Model.ID">
            @Model.DisplayName
            @if (Model.IsRequired)
            {
                <span class="required">*</span>
            }
        </label>
    }
    @if (Model.Description.IsNotNullAndWhiteSpace())
    {
        <span class="text-muted">
            <span>@Model.Description</span>
        </span>
    }
    @Html.TextBox(Model.ID, Model.Value, Model.Attributes)
    @Html.ValidationMessage(Model.ID)
</div>