@using Easy.Modules.Role
@model Easy.Modules.Role.RoleEntity
@{
    Script.Reqiured("validate").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        @L("编辑")
    </div>
    <div class="panel-body">
        <form method="post" action="@Url.Action("Edit")" enctype="multipart/form-data">
            @Html.EditorForModel()
            <hr />
            @await Html.PartialAsync("Partal.Permissions", (ViewBag.Permissions as List<Permission>) ?? new List<Permission>())
            <div class="toolBar">
                @if (Authorizer.Authorize(PermissionKeys.ManageRole))
                {
                    <input type="submit" class="btn btn-primary" value="@L("保存")" data-value="@ActionType.Update" />
                }
                <input type="button" class="btn btn-default cancel" value="@L("取消")" />
            </div>
        </form>
    </div>
</div>