@model ApplicationSetting
@{
    Script.Reqiured("validate").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        @L("Edit")
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="toolBar">
                @if (Authorizer.Authorize(PermissionKeys.ManageApplicationSetting))
                {
                    <input type="submit" class="btn btn-primary" value="@L("Save")" data-value="@ActionType.Update" />
                    <input type="submit" class="btn btn-primary" value="@L("Save And Exit")" data-value="@(ActionType.UpdateAndExit)" />
                }
                <a class="btn btn-default" href="@Url.Action("Index")">@L("Cancel")</a>
            </div>
        }
    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(function () {
            $("#SettingKey").attr("readonly", "readonly");
        });
    </script>
}