@using ZKEACMS.Message.Models
@model Comments
@{
    string host = hostOptionProvider.GetOrigin();
    string link = $"{host}/admin/Comments/Edit/{Model.ID}";
}
@inject ZKEACMS.IHostOptionProvider hostOptionProvider
@inject Easy.ILocalize localize
<!DOCTYPE html>
<html>
<head>
    <title>@localize.Get("New comment")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
    <div>
        <h3>
            @localize.Get("New comment")
        </h3>
        <table border="1" cellspacing="0" cellpadding="5" bgcolor="" style="border-color: #eee;">
            <tbody>
                <tr>
                    <td>@localize.Get("Title")</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>@localize.Get("Username")</td>
                    <td>@Model.UserName</td>
                </tr>
                <tr>
                    <td>@localize.Get("Comments")</td>
                    <td>@Model.CommentContent</td>
                </tr>
                <tr>
                    <td>@localize.Get("Page")</td>
                    <td><a href="@(host+Model.PagePath)" target="_blank">@(host + Model.PagePath)</a></td>
                </tr>

            </tbody>
        </table>
    </div>
    <p>
        @localize.Get("For detail") <a href="@link" target="_blank">@link</a>
    </p>
    <h4>
        ZKEASOFT
    </h4>
    <p>
        <a href="http://www.zkea.net" target="_blank">
            http://www.zkea.net
        </a>
    </p>
    <p>
        <em>@DateTime.Now.ToString("g")</em>
    </p>
</body>
</html>