@using ZKEACMS
@using ZKEACMS.Message.Models
@model Comments
@{
    Layout = Layouts.EmailLayout;
    string host = hostOptionProvider.GetOrigin();
    string link = $"{host}/admin/Comments/Edit/{Model.ID}";
    Func<string, string> L = localize.Get;
}
@inject ZKEACMS.IHostOptionProvider hostOptionProvider
@inject Easy.ILocalize localize
@inject ZKEACMS.Site.ISiteInformationService siteInformationService


<div>
    <h3>
        @L("New comment")
    </h3>
    <table border="1" cellspacing="0" cellpadding="5" bgcolor="" style="border-color: #eee;">
        <tbody>
            <tr>
                <td>@L("Title")</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>@L("Username")</td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>@L("Comments")</td>
                <td>@Model.CommentContent</td>
            </tr>
            <tr>
                <td>@L("Page")</td>
                <td><a href="@(host+Model.PagePath)" target="_blank">@(host + Model.PagePath)</a></td>
            </tr>

        </tbody>
    </table>
    <br />
    @Html.EmailLinkButton(link, L("View"))
</div>
