@using ZKEACMS.Message.Models
@model MessageEntity
@{
    var host = $"{ViewContext.HttpContext.Request.Scheme}://{ViewContext.HttpContext.Request.Host}";
    string link = $"{host}/admin/Message/Edit/{Model.ID}";
}
<!DOCTYPE html>
<html>
<head>
    <title>新的留言提醒</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
    <div>
        <h3>
            收到新的留言
        </h3>
        <table border="1" cellspacing="0" cellpadding="5" bgcolor="" style="border-color: #eee;">
            <tbody>
                <tr>
                    <td>姓名</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>留言内容</td>
                    <td>@Model.PostMessage</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        查看详情 <a href="@link" target="_blank">@link</a>
    </p>
    <h4>
        ZKEASOFT
    </h4>
    <p>
        <a href="http://www.zkea.net" target="_blank">
            http://www.zkea.net
        </a>
    </p>
    <p>
        <em>@DateTime.Now.ToString("yyyy-MM-dd")</em>
    </p>
</body>
</html>