@model ZKEACMS.Product.ViewModel.ProductListWidgetViewModel

<div class="productlist">
    <div class="row">
        @foreach (var item in Model.Products)
        {
            string url = item.Url;
            if (item.Url.IsNotNullAndWhiteSpace() || Model.DetailPageUrl.IsNotNullAndWhiteSpace())
            {
                if (url.IsNullOrWhiteSpace() && Model.DetailPageUrl.IsNotNullAndWhiteSpace())
                {
                    url = Url.PostUrl(Model.DetailPageUrl, item.ID);
                }
            }
            <div class="@Model.Columns">
                <div class="thumbnail">
                    <img alt="@item.Title" title="@item.Title" src="@Url.ImageContent(item.ImageThumbUrl)" />
                    <div class="caption">
                        <h4>
                            @if (url.IsNotNullAndWhiteSpace())
                            {
                                <a href="@Url.Content(url)">
                                    @item.Title
                                </a>
                            }
                            else
                            {
                                @item.Title
                            }
                        </h4>
                        @if (item.Description.IsNotNullAndWhiteSpace())
                        {
                            <p>
                                @item.Description
                            </p>
                        }
                        @if (item.RebatePrice.HasValue || item.Price.HasValue)
                        {
                            <div class="clearfix">
                                <div class="pull-left price">                                    
                                    @if (item.Price.HasValue)
                                    {
                                        <del>￥@(string.Format("{0:f2}", item.Price))</del>
                                    }
                                    @if (item.RebatePrice.HasValue)
                                    {
                                        <strong>￥@(string.Format("{0:f2}", item.RebatePrice))</strong>
                                    }
                                </div>
                                <div class="pull-right">
                                    <a href="@Url.PathContent(url)" class="btn btn-default btn-sm">立即购买</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>

    @if (Model.IsPageable)
    {
        Html.Pagin(Model.Page);
    }
</div>



