@using System.Text.RegularExpressions
@model ZKEACMS.Product.ViewModel.ProductListWidgetViewModel

<div class="productlist">
    <div class="row">
        @foreach (var item in Model.Products)
        {
            string url = item.Url;
            if (item.Url.IsNotNullAndWhiteSpace() || Model.DetailPageUrl.IsNotNullAndWhiteSpace())
            {
                if (url.IsNullOrWhiteSpace() && Model.DetailPageUrl.IsNotNullAndWhiteSpace())
                {
                    url = Url.PostUrl(Model.DetailPageUrl, item.ID);
                }
            }
            <div class="@Model.Columns">
                <div class="thumbnail">
                    <a href="@Url.PathContent(url)">
                        <img alt="@item.Title" title="@item.Title" src="@Url.ImageContent(item.ImageThumbUrl)" />
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="@Url.PathContent(url)">
                                @item.Title
                            </a>
                        </h4>
                        @if (item.Description.IsNotNullAndWhiteSpace())
                        {
                            <p class="text-muted small">
                                @item.Description
                            </p>
                        }
                        @if (item.RebatePrice.HasValue || item.Price.HasValue)
                        {
                            <div class="clearfix">
                                <div class="pull-left price">
                                    @if (item.RebatePrice.HasValue)
                                    {
                                        <del class="text-muted"><small><small>￥</small>@Html.Raw(Regex.Replace((item.Price ?? 0).ToString("F2"), @"\.(\d+)", "<small>.$1</small>"))</small></del>
                                        <strong><small>￥</small>@Html.Raw(Regex.Replace((item.RebatePrice ?? 0).ToString("F2"), @"\.(\d+)", "<small>.$1</small>"))</strong>
                                    }
                                    else
                                    {
                                        <strong><small>￥</small>@Html.Raw(Regex.Replace((item.Price ?? 0).ToString("F2"), @"\.(\d+)", "<small>.$1</small>"))</strong>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>

    @if (Model.IsPageable)
    {
        Html.Pagin(Model.Page);
    }
</div>



