@using Easy.Mvc.Plugin
@model IEnumerable<PluginInfo>


<div class="table-response">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>@L("Name")</th>
                <th>@L("Assembly")</th>
                <th>@L("Version")</th>
                <th>@L("Official Website")</th>
                <th>@L("Publish Date")</th>
                <th>@L("Description")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.WebSite == null)
                {
                    item.WebSite = "http://www.zkea.net";
                }
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.FileName</td>
                    <td>@(item.Version ?? ZKEACMS.Version.VersionInfo)</td>
                    <td><a href="@item.WebSite" target="_blank">@item.WebSite</a></td>
                    <td>@item.PublishedDate</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>