@{
    ViewBag.Title = L("Account Center");
    Layout = Layouts.CustomerCenter;
}
<div class="panel panel-default user-info">
    <div class="panel-heading clearfix">
        <div class="pull-left">@L("Information")</div>
        <div class="pull-right">
            <a href="@Url.Action("Edit","Account")">@L("Edit")</a>
        </div>
    </div>
    <div class="panel-body">
        <p>
            <label>@L("Username")</label>
            @ApplicationContext.CurrentCustomer.UserName
        </p>
        <p>
            <label>@L("Email")</label>
            @ApplicationContext.CurrentCustomer.Email
        </p>
        <p>
            <label>@L("Phone")</label>
            @ApplicationContext.CurrentCustomer.Telephone
        </p>
        <p>
            <label>@L("Cell phone")</label>
            @ApplicationContext.CurrentCustomer.MobilePhone
        </p>
        <p>
            <label>@L("QQ")</label>
            @ApplicationContext.CurrentCustomer.QQ
        </p>
        <p>
            <label>@L("Hobby")</label>
            @ApplicationContext.CurrentCustomer.Hobby
        </p>
        <p>
            <label>@L("Shipping Address")</label>
            @ApplicationContext.CurrentCustomer.Address
        </p>
        <p>
            <label>@L("Zip Code")</label>
            @ApplicationContext.CurrentCustomer.ZipCode
        </p>
    </div>
</div>