@{
    ViewBag.Title = ZKEACMS.Version.CurrentVersion + " " + ZKEACMS.Version.Rank;
    Layout = Layouts.NormalDefault;
    Style.Reqiured("Customer").AtHead();
    Script.Reqiured("validate").AtFoot();
    string link = "~/";
    string email = ViewBag.Email ?? "";
    if (email.IsNotNullAndWhiteSpace() && email.IndexOf("@") > 0)
    {
        link = "http://mail." + email.Substring(email.IndexOf("@") + 1);
    }
}

@using (Html.BeginForm())
{
    <div class="login-panel sended">
        <div class="login-panel-heading">
            <p>
                <a href="~/" target="_blank">
                    <img class="logo" src="~/images/logo_min.png" alt="ZKEACMS" />
                </a>
            </p>
        </div>
        <div class="login-panel-body">
            <div class="info-bar">
                <p>
                    @L("找回密码")
                </p>
                <img src="~/css/Images/picker_account_msa.svg" />
            </div>
            <br />
            <p>
                @L("我们已经给您的邮箱")
            </p>
            <p>
                <strong>
                    @email
                </strong>
            </p>
            <p>
                @L("发送了一封找回密码的邮件，请及时查收并修改密码。")
            </p>
            <div class="form-input">
                <a href="@Url.Content(link)" target="_blank" class="btn-login">@L("查收邮件")</a>
            </div>
        </div>
    </div>
}