@{
    ViewBag.Title = ZKEACMS.Version.CurrentVersion + " " + ZKEACMS.Version.Rank;
    Layout = Layouts.NormalDefault;
    Style.Reqiured("Customer").AtHead();
    Script.Reqiured("validate").AtFoot();
    var returnUrl= ViewBag.ReturnUrl ?? ViewContext.HttpContext.Request.Query["ReturnUrl"];
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="ReturnUrl" id="ReturnUrl" value="@returnUrl" />
    <div class="login-panel sign-in">
        <div class="login-panel-heading">
            <p>
                <a href="~/">
                    <img class="logo" src="~/images/logo_min.png" alt="ZKEACMS" />
                </a>
            </p>
        </div>
        <div class="login-panel-body">
            <div class="info-bar">
                <p>
                    @L("请输入您的用户信息以登录")
                </p>
                <img src="~/css/Images/picker_account_msa.svg" />
            </div>
            <div class="form-input">
                <h4>@L("邮箱")</h4>
                <input type="email"
                       placeholder="@L("输入您注册时使用的邮箱地址")"
                       id="email"
                       name="email"
                       class="form-control"
                       data-val="true"
                       data-val-required="@L("登录邮箱不能为空")"
                       data-val-length="@L("邮箱的长度应小于200")"
                       data-val-regex-pattern="@(Easy.Constant.RegularExpression.Email)"
                       data-val-regex="@L("输入的邮箱格式不正确")"
                       data-val-length-max="200" />
                <span class="field-validation-valid " data-valmsg-for="email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-input">
                <h4>@L("密码")</h4>
                <input type="password"
                       placeholder="@L("输入您的密码")"
                       id="password"
                       name="password"
                       class="form-control"
                       data-val="true"
                       data-val-required="@L("密码不能为空")"
                       data-val-length="@L("密码的长度应小于20")"
                       data-val-length-max="20" />
                <span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
            </div>
            @if (ViewBag.Errormessage != null)
            {
                <div class="text-center alert alert-danger">
                    @ViewBag.Errormessage
                </div>
            }
            <div class="form-input">
                <input type="submit" class="btn-login" value="@L("登录")" />
            </div>
        </div>
        <div class="login-panel-footer clearfix">
            <div class="pull-left">
                <a href="@Url.Action("SignUp", new { ReturnUrl = returnUrl })">@L("立即注册")</a>
            </div>
            <div class="pull-right">
                <a href="@Url.Action("Forgotten", new { ReturnUrl = returnUrl })">@L("忘记密码？")</a>
            </div>
        </div>
    </div>
}