@model Easy.Modules.User.Models.UserEntity
@{
    Script.Reqiured("validate").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        @L("编辑")
    </div>
    <div class="panel-body">
        @if (ViewBag.Errormessage != null)
        {
            <div class="text-center alert alert-danger">
                @ViewBag.Errormessage
            </div>
        }
        <form method="post" action="@Url.Action("Edit")" enctype="multipart/form-data">
            @Html.EditorForModel()
            <div class="toolBar">
                @if (Authorizer.Authorize(PermissionKeys.ManageUser))
                {
                    <input type="submit" class="btn btn-primary" value="@L("保存")" data-value="@ActionType.Create" />
                }
                <input type="button" class="btn btn-default cancel" value="@L("取消")" />
            </div>
        </form>
    </div>
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(function () {
            $("#UserID").prop("readonly", true);
        });
    </script>
}