@{
    ViewBag.Title = L("修改密码");
    Script.Reqiured("validate").AtFoot();
}
@using (Html.BeginForm())
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@L("错误!")</strong> @ViewBag.Message
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            @L("修改密码")
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="UserName" class="col-sm-1 control-label">@L("旧密码")</label>
                    <div class="col-sm-11">
                        <input type="password"
                               placeholder="@L("输入密码")"
                               id="PassWord"
                               name="PassWord"
                               class="form-control"
                               data-val="true"
                               data-val-required="@L("密码不能为空")"
                               data-val-length="@L("密码的长度应小于20")"
                               data-val-length-max="20" />
                        <span class="field-validation-valid" data-valmsg-for="PassWord" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-sm-1 control-label">@L("新密码")</label>
                    <div class="col-sm-11">
                        <input type="password"
                               placeholder="@L("输入新密码")"
                               id="PassWordNew"
                               name="PassWordNew"
                               class="form-control"
                               data-val="true"
                               data-val-required="@L("新密码不能为空")"
                               data-val-length="@L("新密码的长度应小于20")"
                               data-val-length-max="20" />
                        <span class="field-validation-valid" data-valmsg-for="PassWordNew" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Telephone" class="col-sm-1 control-label">@L("确认密码")</label>
                    <div class="col-sm-11">
                        <input type="password"
                               placeholder="@L("输入新密码")"
                               id="PassWordConfirm"
                               name="PassWordConfirm"
                               class="form-control"
                               data-val="true"
                               data-val-required="@L("请确认密码")"
                               data-val-equalto="@L("密码不一致")"
                               data-val-equalto-other="PassWordNew"
                               data-val-length="@L("密码的长度应小于20")"
                               data-val-length-max="20" />
                        <span class="field-validation-valid" data-valmsg-for="PassWordConfirm" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ZipCode" class="col-sm-1 control-label"></label>
                    <div class="col-sm-11">
                        <input type="submit" value="@L("修改密码")" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            @L("密码修改成功以后将直接跳转到登录页面，请使用新密码登录")
        </div>
    </div>
}
    
