@{
    ViewBag.Title = L("Change Password");
    Script.Reqiured("validate").AtFoot();
}
@using (Html.BeginForm())
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@L("Error!")</strong> @ViewBag.Message
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            @L("Change Password")
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="UserName" class="col-sm-1 control-label">@L("Old Password")</label>
                    <div class="col-sm-11">
                        <input type="password"
                               placeholder="@L("Enter your password")"
                               id="PassWord"
                               name="PassWord"
                               class="form-control"
                               data-val="true"
                               data-val-required="@L("{0} is required").Text.FormatWith(L("Old Password"))"
                               data-val-length="@L("{0} length should be less than {1}").Text.FormatWith(L("Old Password"),20)"
                               data-val-length-max="20" />
                        <span class="field-validation-valid" data-valmsg-for="PassWord" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-sm-1 control-label">@L("New Password")</label>
                    <div class="col-sm-11">
                        <input type="password"
                               placeholder="@L("Enter your new password")"
                               id="PassWordNew"
                               name="PassWordNew"
                               class="form-control"
                               data-val="true"
                               data-val-required="@L("{0} is required").Text.FormatWith(L("New Password"))"
                               data-val-length="@L("{0} length should be less than {1}").Text.FormatWith(L("New Password"),20)"
                               data-val-length-max="20" />
                        <span class="field-validation-valid" data-valmsg-for="PassWordNew" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Telephone" class="col-sm-1 control-label">@L("Confirm Password")</label>
                    <div class="col-sm-11">
                        <input type="password"
                               placeholder="@L("Enter your new password")"
                               id="PassWordConfirm"
                               name="PassWordConfirm"
                               class="form-control"
                               data-val="true"
                               data-val-required="@L("{0} is required").Text.FormatWith(L("New Password"))"
                               data-val-equalto="@L("Passwords are inconsistent")"
                               data-val-equalto-other="PassWordNew"
                               data-val-length="@L("{0} length should be less than {1}").Text.FormatWith(L("New Password"),20)"
                               data-val-length-max="20" />
                        <span class="field-validation-valid" data-valmsg-for="PassWordConfirm" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ZipCode" class="col-sm-1 control-label"></label>
                    <div class="col-sm-11">
                        <input type="submit" value="@L("Change Password")" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            @L("After change the password, please sign in use the new password")
        </div>
    </div>
}
    
