@using ZKEACMS.Product
@using Easy.ViewPort.jsTree
@using ZKEACMS.Product.Models
@{
    Script.Reqiured("jsTree").AtFoot();
    Style.Reqiured("jsTree").AtHead();
    var categoryTree = Html.Tree<ProductCategory>().Source("GetProductCategoryTree", "ProductCategory");
    if (Authorizer.Authorize(ZKEACMS.Product.PermissionKeys.ManageProductCategory))
    {
        categoryTree
            .AddPlugin(Plugins.ContextMenu)
            .AddContextMenuItem(new ContextmenuItem {Label = L("新建").Text, Action = "Create", Icon = "glyphicon glyphicon-plus"})
            .AddContextMenuItem(new ContextmenuItem {Label = L("编辑").Text, Action = "Edit", Icon = "glyphicon glyphicon-edit"});
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        @L("产品类别")
    </div>
    <div class="panel-body">
        @categoryTree
    </div>
    @if (Authorizer.Authorize(ZKEACMS.Product.PermissionKeys.ManageProductCategory))
    {
        <div class="panel-footer">
            <a href="@Url.Action("Create")" class="btn btn-link btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                @L("添加类别")
            </a>
        </div>
    }
</div>


<script type="text/javascript">
    function Create(node) {
        var parent = node.reference.attr("id");
        window.location.href = '@Url.Action("Create")' + '?ParentID=' + parent;
    }
    function Edit(node) {
        var id = node.reference.attr("id");
        window.location.href = '@Url.Action("Edit")' + '/' + id;
    }


</script>
