@using System.Text.RegularExpressions
@model ZKEACMS.Product.ViewModel.ProductListWidgetViewModel

<div class="product_list_page_met_35_2_17 met-product animsition">
    <div class="container">
        <div class="row clearfix left">
            <div class="col-md-12 col-xs-12">
                <div class="row myrow_box">
                    <div class="product-right animation-slide-bottom appear-no-repeat">
                        <ul class="blocks-xs-2  blocks-md-2 blocks-lg-4 blocks-xxl-4  met-pager-ajax imagesize cover met-product-list ">
                            @foreach (var item in Model.Products)
                            {
                                string url = Url.PostUrl(Model.DetailPageUrl, item);
                                string title = item.Title;
                                <li class="prd-li">
                                    <div class="ih-item square effect3 bottom_to_top">
                                        <a href="@url" target="_self" title="@title">
                                            <div class="img">
                                                <img class="img-con" alt="@title" style="max-width: 100%; display: inline;" data-lazyload="true" src="@Url.ImageContent(item.ImageThumbUrl)">
                                            </div>
                                            <div class="info">
                                                <h3>@title</h3><p class="m-b-0 m-t-5 price"></p>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="m-t-20 text-xs-center hidden-sm-down">
                        <div class="met_pager">
                            @if (Model.IsPageable)
                            {
                                await Html.Pagin(Model.Page);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



