@model ZKEACMS.FormGenerator.Models.Form
@{
    if (Model == null)
    {
        return;
    }
    Style.Reqiured("datepicker").AtFoot();
    Style.Reqiured("form-widget").AtFoot();

    Script.Reqiured("datepicker").AtFoot();
    Script.Reqiured("distpicker").AtFoot();

    Script.Reqiured("validate").AtFoot();
    Script.Reqiured("form-widget").AtFoot();
}
<section class="foot_nav_met_11_4_63      met-index-body" m-id="63" m-type="foot_nav">
    <div class="container">
        <div class="title-box text-xs-center">
            <div class="head">
                <h2 class="title">@Model.Title</h2>
                <p class="desc">@Model.Description</p>
            </div>
        </div>
        <div class="foot-box clearfix">
            <div class="foot-input col-md-8 text-xs-left">
                <div class="met-foot-feedback clearfix">
                    @if (ViewContext.HttpContext.Request.Query["status"] == "error")
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @System.Net.WebUtility.UrlDecode(ViewContext.HttpContext.Request.Query["msg"])
                        </div>
                    }
                    @if (ViewContext.HttpContext.Request.Query["status"] == "complete")
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @L("表单提交成功")
                        </div>
                    }
                    <form method="post" asp-action="Submit" asp-controller="FormData">
                        <input type="hidden" name="next" value="@ViewContext.HttpContext.Request.GetAbsoluteUrl()" />
                        <input type="hidden" name="FormId" value="@Model.ID" />

                        @for (int i = 0; i < Model.FormFields.Count; i++)
                        {
                            var item = Model.FormFields[i];
                            <div class="form-group @(item.Name=="Paragraph"?"w100":"") p-r-15">
                                @await Html.PartialAsync(string.Format("EditorTemplates/Form.{0}", Model.FormFields[i].Name), Model.FormFields[i])
                            </div>
                        }
                        <div class="form-group p-r-15">
                            <button type="submit" class="btn btn-primary btn-lg btn-block btn-squared">@L("提交")</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="foot-info col-md-4">
                <div class="foot-img">
                    <img data-original="" alt="" data-lazyload="true">
                </div>
                <div class="foot-tel">
                    <span>免费服务热线：</span>
                    <a href="tel:888-888-8888">888-888-8888</a>
                    <p>信息</p>
                    <p class="more-info">更多信息</p>
                </div>
            </div>
        </div>
    </div>
</section>