@model ZKEACMS.Article.ViewModel.ArticleListWidgetViewModel
@{
    if (!Model.Widget.DetailPageUrl.IsNullOrEmpty())
    {
        Model.Widget.DetailPageUrl = Url.Content(Model.Widget.DetailPageUrl);
    }
}
<div class="news_list_page_met_11_1_14 met-news">
    <div class="met-news-list">
        @if (Model.Articles != null)
        {
            <ul class="ulstyle met-pager-ajax imagesize">
                @foreach (var item in Model.Articles)
                {
                    string url = @Url.PostUrl(Model.Widget.DetailPageUrl, item);
                    <li class="border-bottom1">
                        <h4>
                            <a href="@url" title="@item.Title" target="_self">@item.Title</a>
                        </h4>
                        <p class="des font-weight-300">@item.Summary</p>
                        <p class="info font-weight-300">
                            <span>@((item.PublishDate ?? DateTime.Now).ToString("yyyy-MM-dd"))</span>
                            <span></span>
                            <span style="margin-left:10px;"><i class="icon m-r-5 font-weight-300 glyphicon glyphicon-eye-open" aria-hidden="true"></i>@(item.Counter ?? 1)</span>
                        </p>
                    </li>
                }
            </ul>
        }
    </div>
</div>
<div style="padding:0px 30px;">
    @if (Model.IsPageable)
    {
        await Html.Pagin(Model.Pagin);
    }
</div>