@model ZKEACMS.Article.ViewModel.ArticleDetailViewModel
@{
    Style.Reqiured("Article").AtHead();
    string name = Model.Current.Url;
}
<div class="subcolumn_nav_met_35_1_11 div_fister" m-id="11" m-type="nocontent">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="boss_div">
                </div>
                <div class="subcolumn-nav">
                    <ul class="subcolumn_nav_met_35_1_11-ul m-b-0 ulstyle">
                        <li>
                            <a href="@Url.Content("~/about")" title="关于我们" class="@(name=="aboutus"?"active":"") link">关于我们</a>
                        </li>
						<li>
                            <a href="@Url.CustomUrl("~/about/detail","company")" title="公司介绍" class="@(name=="company"?"active":"") link">公司介绍</a>
                        </li>
						<li>
                            <a href="@Url.CustomUrl("~/about/detail","knowledge")" title="企业文化" class="@(name=="knowledge"?"active":"") link">企业文化</a>
                        </li>
                        <li>
                            <a href="@Url.CustomUrl("~/about/detail","goodat")" title="品牌优势" class="@(name=="goodat"?"active":"") link">品牌优势</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model != null && Model.Current != null)
{
    <div class="show_met_11_3_47" m-id="47">
        <div class="met-show-body panel panel-body m-b-0">
            <div class="container">
                <section class="met-editor clearfix">
                    @Html.Raw(Model.Current.ArticleContent)
                </section>
            </div>
        </div>
    </div>
}

