@model ZKEACMS.Article.ViewModel.ArticleTypeWidgetViewModel

@*<div class="article-category">
    <div class="list-group">
        @if (Model.ArticleTypes != null)
        {
            foreach (var item in Model.ArticleTypes)
            {
                <a href="@Url.ArticleTypeUrl(item)" class="list-group-item @(item.ID == Model.ArticleTypeID ? "active" : "")">@item.Title</a>
            }
        }
    </div>
</div>*@
<aside class="sidebar_met_16_1_32 met-sidebar panel panel-body m-b-0" boxmh-h="" m-id="32" m-type="nocontent">
    <ul class="sidebar-column list-icons">
        <li>
            <a href="@Url.Content("~/news")" title="新闻中心" class="active" target="_self">新闻中心</a>
        </li>
    </ul>
    <div class="sidebar-news-list recommend">
        @*<h3 class="font-size-16 m-0">新闻中心</h3>*@
        <ul class="list-group list-group-bordered m-t-10 m-b-0">
            @if (Model.ArticleTypes != null)
            {
                foreach (var item in Model.ArticleTypes)
                {
                    <li class="list-group-item">
                        <a href="@Url.ArticleTypeUrl(item)" title="@item.Title" target="_self" class="@(item.ID == Model.ArticleTypeID ? "active" : "")">@item.Title</a>
                    </li>
                }
            }
        </ul>
    </div>
</aside>