@model ZKEACMS.Product.ViewModel.ProductCategoryWidgetViewModel

<div class="subcolumn_nav_met_35_1_15 div_fister">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="boss_div">
                    <div class="boss_title">产品系列</div>
                </div>
                <div class="subcolumn-nav">
                    <ul class="subcolumn_nav_met_35_1_15-ul m-b-0 ulstyle">
                        <li>
                            <a href="@Url.Content("~/product")" title="全部" class="@(Model.CurrentCategory==0?"active":"") link">全部</a>
                        </li>
                        @foreach (var item in Model.Categorys)
                        {
                            <li>
                                <a href="@Url.ProductCategoryUrl(item)" title="@item.Title" class="@(item.ID == Model.CurrentCategory ? "active" : "") link">@item.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>