@model ZKEACMS.Article.ViewModel.ArticleDetailViewModel
@{
    Style.Reqiured("Article").AtHead();
}
<div class="location_met_16_1_29 met-crumbs">
    <ol class="breadcrumb m-b-0 subcolumn-crumbs">
        <li class="breadcrumb-item">
            <a href="/" title="网站首页"><em class="fa fa-home"></em> 网站首页</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Content("~/news")" title="新闻中心" class="">新闻中心</a>
        </li>
    </ol>
</div>
@if (Model != null && Model.Current != null)
{
    <div class="news_list_detail_met_16_1_30 met-shownews animsition  left">
        <section class="details-title border-bottom1">
            <h1 class="m-0">@Model.Current.Title</h1>
            <div class="info font-weight-300">
                <span>@((Model.Current.PublishDate ?? DateTime.Now).ToString("yyyy-MM-dd HH:mm:ss"))</span>
                <span>
                    <i class="icon m-r-5 glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                    @(Model.Current.Counter ?? 1)
                </span>
            </div>
        </section>
        <section class="met-editor clearfix">
            @Html.Raw(Model.Current.ArticleContent)
        </section>
        <div class="met-page p-y-30 border-top1">
            <div class="container p-t-30 ">
                <ul class="pagination block blocks-2">
                    <li class="page-item m-b-0 ">
                        @if (Model.Prev != null)
                        {
                            <a href="@Url.PostUrl(ViewContext.RouteData.GetPath(), Model.Prev)" title="@Model.Prev.Title" class="page-link text-truncate">
                                上一篇:  <span aria-hidden="true" class="hidden-xs-down">@Model.Prev.Title</span>
                            </a>
                        }
                    </li>
                    <li class="page-item m-b-0 ">
                        @if (Model.Next != null)
                        {
                            <a href="@Url.PostUrl(ViewContext.RouteData.GetPath(), Model.Next)" title="@Model.Next.Title" class="page-link pull-xs-right text-truncate">
                                下一篇:      <span aria-hidden="true" class="hidden-xs-down">@Model.Next.Title</span>
                            </a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

