@using System.Text.RegularExpressions
@model ZKEACMS.Product.Models.ProductEntity
@{
    Style.Reqiured("product-ecommerce").AtHead();
    Script.Reqiured("product-ecommerce").AtFoot();
    var firstImage = Model.ProductImages.FirstOrDefault(m => m.Status == (int)RecordStatus.Active);
    string imageUrl = "";
    string title = Model.Title;
    string imageThumbUrl = Url.Content(Model.ImageThumbUrl);
    if (firstImage != null)
    {
        imageUrl = firstImage.ImageUrl;
    }
    else
    {
        imageUrl = Model.ImageUrl;
    }
    imageUrl = Url.Content(imageUrl);
}

<div class="location_met_16_1_33 met-crumbs">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb m-b-0 subcolumn-crumbs">
                <li class="breadcrumb-item">
                    <a href="/" title="网站首页"><em class="fa fa-home"></em> 网站首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Content("~/product")" title="产品中心">产品中心</a>
                </li>
                @*<li class="breadcrumb-item">
                        <a href="https://mb.mituo.cn/mui492/product/product.php?class2=6" title="店铺招牌" class="">店铺招牌</a>
                    </li>*@
            </ol>
        </div>
    </div>
</div>
<main class="product_list_detail_met_16_1_34 page met-showproduct pagetype1" m-id="34">
    <div class="met-showproduct-head page-content block-bg">
        <div class="container">
            <div class="row">
                @if (Model != null)
                {
                    <div class="col-lg-7">
                        <div class="met-showproduct-list fngallery cover text-xs-center" id="met-imgs-slick" m-id="noset" m-type="displayimgs">
                            <div class="slick-slide">
                                <a href="@imageUrl">
                                    <img src="@imageThumbUrl" class="img-fluid" alt="@title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="product-intro">
                            <h1 class="m-t-0 font-size-24">@title</h1>
                            <p class="description">@Model.Description</p>
                            @*<div class="met-page p-y-30 border-top1">
                                <div class="container p-t-30 ">
                                    <ul class="pagination block blocks-2">
                                        <li class="page-item m-b-0 ">
                                            <a href="https://mb.mituo.cn/mui492/product/showproduct.php?id=2" title="鲜奶草莓蛋糕" class="page-link text-truncate">
                                                上一页                <span aria-hidden="true" class="hidden-xs-down">: 鲜奶草莓蛋糕</span>
                                            </a>
                                        </li>
                                        <li class="page-item m-b-0 ">
                                            <a href="https://mb.mituo.cn/mui492/product/showproduct.php?id=1" title="彩虹糖蛋糕" class="page-link pull-xs-right text-truncate">
                                                下一页                <span aria-hidden="true" class="hidden-xs-down">: 彩虹糖蛋糕</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>*@
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
