@using ZKEACMS.Common.Models
@using Microsoft.AspNetCore.Html
@model ZKEACMS.Common.ViewModels.NavigationWidgetViewModel
@{
    if (!Model.Navigations.Any())
    {
        return;
    }
}
<header class="met-head navbar-fixed-top" m-id="57" m-type="head_nav">
    <nav class="navbar navbar-default box-shadow-none head_nav_met_21_11_57">
        <div class="container">
            <div class="row">
                <nav class="lh-header navlist">
                    @if (Model.Widget.Logo.IsNotNullAndWhiteSpace())
                    {
                        <a class="lh-logo" href="~/">
                            @if (Model.Widget.Logo.IsNotNullAndWhiteSpace())
                            {
                                <img src="@Url.Content(Model.Widget.Logo)" alt="蛋糕加盟公司响应式网站模板" title="蛋糕加盟公司响应式网站模板" />
                            }
                        </a>
                    }
                    @{
                        <ul class="lh-header-nav lh-flex">
                            @foreach (var item in Model.Navigations)
                            {
                                var current = item.Current;
                            <li class="@(current.IsCurrent ? "active" : "")">
                                @if (current.Html.IsNullOrWhiteSpace())
                                {
                                    <a href="@Url.PathContent(current.Url)" title="@current.Title" target="_self">
                                        <h2>@current.Title</h2>
                                        <h3>@current.Description</h3>
                                        <span></span>
                                    </a>
                                }
                                else
                                {
                                    @Html.Raw(current.Html)
                                }
                            </li>
                            }
                        </ul>
                    }
                    @*<ul class="lh-header-nav lh-flex">
                        <li class="    active">
                            <a href="https://mb.mituo.cn/mui492/" title="网站首页">
                                <h2>网站首页2</h2>
                                <h3>HOME</h3>
                                <span></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://mb.mituo.cn/mui492/about1/" target="_self">
                                <h2>关于我们</h2>
                                <h3>ABOUT</h3>
                                <span></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://mb.mituo.cn/mui492/product/" target="_self">
                                <h2>产品中心</h2>
                                <h3>PRODUCT</h3>
                                <span></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://mb.mituo.cn/mui492/about/" target="_self">
                                <h2>招商加盟</h2>
                                <h3>JOIN</h3>
                                <span></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://mb.mituo.cn/mui492/img/" target="_self">
                                <h2>店铺展示</h2>
                                <h3>SHOP</h3>
                                <span></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://mb.mituo.cn/mui492/news/" target="_self">
                                <h2>新闻中心</h2>
                                <h3>NEWS</h3>
                                <span></span>
                            </a>
                        </li>
                    </ul>*@
                    <div class="lh-map-btn"><span></span></div>
                </nav>
                <section class="lh-map">
                    <div class="lh-map-main">
                        <div class="lh-map-logo">
                            @*<img src="https://images.mituo.cn/mui492/upload/mui492/201901/1546503948.png" alt="蛋糕加盟公司响应式网站模板" title="蛋糕加盟公司响应式网站模板">*@
                            @if (Model.Widget.Logo.IsNotNullAndWhiteSpace())
                            {
                                @if (Model.Widget.Logo.IsNotNullAndWhiteSpace())
                                {
                                    <img src="@Url.Content(Model.Widget.Logo)" alt="蛋糕加盟公司响应式网站模板" title="蛋糕加盟公司响应式网站模板" />
                                }
                            }
                        </div>
                        <h2 class="lh-map-h2">蛋糕加盟</h2>
                        <h3 class="lh-map-h3">让您尽情品尝大自然的味道</h3>
                        <nav class="lh-map-nav clearfix lh-flex">
                            <dl>
                                <dt><a href="https://mb.mituo.cn/mui492/about1/" target="_self">关于我们</a></dt>
                                <dd>
                                    <a href="https://mb.mituo.cn/mui492/about1/show.php?id=19" target="_self">公司介绍</a>
                                </dd>
                                <dd>
                                    <a href="https://mb.mituo.cn/mui492/about1/show.php?id=11" target="_self">企业文化</a>
                                </dd>
                                <dd>
                                    <a href="https://mb.mituo.cn/mui492/about1/show.php?id=12" target="_self">品牌优势</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href="https://mb.mituo.cn/mui492/product/" target="_self">产品中心</a></dt>
                                <dd>
                                    <a href="https://mb.mituo.cn/mui492/product/product.php?class2=6" target="_self">店铺招牌</a>
                                </dd>
                                <dd>
                                    <a href="https://mb.mituo.cn/mui492/product/product.php?class2=7" target="_self">新品上市</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href="https://mb.mituo.cn/mui492/about/" target="_self">招商加盟</a></dt>
                                <dd>
                                    <a href="https://mb.mituo.cn/mui492/about/show.php?id=9" target="_self">加盟支持</a>
                                </dd>
                                <dd>
                                    <a href="https://mb.mituo.cn/mui492/about/show.php?id=10" target="_self">品牌优势</a>
                                </dd>
                                <dd>
                                    <a href="https://mb.mituo.cn/mui492/about/show.php?id=8" target="_self">加盟流程</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href="https://mb.mituo.cn/mui492/img/" target="_self">店铺展示</a></dt>
                            </dl>
                            <dl>
                                <dt><a href="https://mb.mituo.cn/mui492/news/" target="_self">新闻中心</a></dt>
                            </dl>
                        </nav>
                        <div class="lh-map-cont clearfix">
                            <div class="lh-map-l left">
                                <h2 class="lh-fonts">用心做好每一份甜品</h2>
                                <h3>
                                    <span>全国客服热线：000-000-0000</span>
                                    <b class="lh-fonts">
                                        <a href="tel:" target="_self">
                                        </a>
                                    </b>
                                </h3>
                            </div>
                            <div class="lh-map-r right clearfix">
                                <div class="left">
                                    <img src="https://images.mituo.cn/mui492/upload/mui492/201901/1546508981.png" alt="微信二维码">
                                    <h2>微信二维码</h2>
                                </div>
                                <div class="left">
                                    <img src="https://images.mituo.cn/mui492/upload/mui492/201901/1546508508.png" alt="公众号二维码">
                                    <h2>公众号二维码</h2>
                                </div>
                            </div>
                        </div>
                        <div class="lh-map-line"> <i></i><span></span> </div>
                    </div>
                    <div class="lh-map-close">CLOSE<i></i></div>
                    <!-- 会员注册登录 -->
                    <div class="met-nav-langlist">
                        <!-- 会员注册登录 -->
                    </div>
                </section>
                <ul class="lh-moblie-nav">
                    <li>
                        <h2><a href="https://mb.mituo.cn/mui492/" title="网站首页">网站首页</a></h2>
                    </li>
                    <li>
                        <h2><a href="https://mb.mituo.cn/mui492/about1/" title="关于我们">关于我们<i class="icon fa-angle-right"></i></a></h2>
                        <dl>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/about1/" title="关于我们">
                                    全部
                                </a>
                            </dd>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/about1/show.php?id=19" title="公司介绍">公司介绍</a>
                            </dd>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/about1/show.php?id=11" title="企业文化">企业文化</a>
                            </dd>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/about1/show.php?id=12" title="品牌优势">品牌优势</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <h2><a href="https://mb.mituo.cn/mui492/product/" title="产品中心">产品中心<i class="icon fa-angle-right"></i></a></h2>
                        <dl>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/product/" title="产品中心">
                                    全部
                                </a>
                            </dd>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/product/product.php?class2=6" title="店铺招牌">店铺招牌</a>
                            </dd>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/product/product.php?class2=7" title="新品上市">新品上市</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <h2><a href="https://mb.mituo.cn/mui492/about/" title="招商加盟">招商加盟<i class="icon fa-angle-right"></i></a></h2>
                        <dl>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/about/show.php?id=9" title="加盟支持">加盟支持</a>
                            </dd>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/about/show.php?id=10" title="品牌优势">品牌优势</a>
                            </dd>
                            <dd>
                                <a href="https://mb.mituo.cn/mui492/about/show.php?id=8" title="加盟流程">加盟流程</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <h2><a href="https://mb.mituo.cn/mui492/img/" title="店铺展示">店铺展示</a></h2>
                    </li>
                    <li>
                        <h2><a href="https://mb.mituo.cn/mui492/news/" title="新闻中心">新闻中心</a></h2>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>